* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.time-select,
.sound-picker,
.player-container {
  height: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.player-container {
  position: relative;
}

.player-container svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}

.player-container .play {
  position: relative;
  top: 80px;
}

.player-container .play:hover {
  cursor: pointer;
}

.player-container .replay {
  position: relative;
  top: 110px;
}

.player-container .replay:hover {
  cursor: pointer;
}

.time-display {
  position: absolute;
  bottom: 10%;
  color: white;
  font-size: 50px;
}

.vid-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.vid-container video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
}

.time-select button,
.sound-picker button {
  color: white;
  width: auto;
  height: auto;
  padding: 10px;
  background: none;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: all 200ms ease-in-out;
}

.time-select button:hover {
  color: black;
  background: white;
}

.sound-picker button {
  border: none;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 30px;
}

.sound-picker button:nth-child(1) {
  background: #018eba;
}

.sound-picker button:nth-child(2) {
  background: rgba(236, 206, 31, 0.932);
}

.sound-picker button:nth-child(3) {
  background: #50b748;
}

.sound-picker button:nth-child(4) {
  background: #a0220c;
}

@media (max-width: 500px) {
  .app {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .vid-container video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
  }
  .time-select,
  .sound-picker,
  .player-container {
    position: relative;
  }
  .time-select {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/3;
    top: -50px;
  }
  .time-select button {
    margin: 5px;
    font-size: 15px;
    padding: 5px;
  }
  .player-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/3;
  }
  .player-container svg {
    position: relative;
  }
  .player-container .play {
    position: relative;
    top: -40px;
    left: 200px;
  }
  .player-container .replay {
    position: relative;
    top: -60px;
    left: 80px;
  }
  .time-display {
    position: relative;
    top: -170px;
    left: 70px;
    font-size: 35px;
  }
  .sound-picker {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 60px;
  }
  .sound-picker button {
    width: 70px;
    height: 70px;
    margin-left: 10px;
  }
  .sound-picker button i {
    position: relative;
    top: -12px;
    right: 12px;
  }
}
